.DeletePopup {
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20em;
    z-index: 1;

    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 100%;
    }

    .yes-btn {
        background-color: var(--error-color) !important;
    }
}