.DeletePopup {
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20em;
    z-index: 1;

    .warning-text {
        padding: 1em;
        text-align: center;
        font-weight: bold;
        border-radius: var(--small-border-radius);
        box-shadow: var(--small-shadow);
        background-color: var(--secondary-text-color);
    }

    .delete-text {
        color: var(--error-color);
    }

    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 100%;
    }

    .yes-btn {
        background-color: var(--error-color) !important;
    }
}