.EditForm {
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20em;
    z-index: 1;

    #edit-vacation-image-input {
        cursor: pointer;
        box-sizing: border-box;
        background-size: cover;
        background-position: center;
        font-size: 0.8em;
        font-weight: bold;
    }
}