.AuthForms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
    max-width: 20em;

    form {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 2em;
        width: 100%;
        border-radius: var(--big-border-radius);
        box-shadow: var(--big-shadow);
        background-color: var(--main-color);

        .form-div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 5px;
            align-items: center;
            width: 100%;

            .form-label {
                font-size: 1em;
                color: var(--secondary-color);
                font-weight: 500;
            }

            .form-input {
                box-sizing: border-box;
                border-style: none;
                height: 3em;
                width: 100%;
                padding: 1em;
                box-shadow: var(--small-shadow);
                border-radius: var(--small-border-radius);
            }

            .error-span {
                color: var(--error-color);
            }
        }

        .form-btn {
            border-style: none;
            height: 3em;
            width: 100%;
            color: var(--secondary-text-color);
            font-weight: 700;
            box-shadow: var(--big-shadow);
            background-color: var(--secondary-color);
            border-radius: var(--small-border-radius);

            &:hover {
                box-shadow: var(--small-shadow);
            }
        }
    }

}