.Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    min-height: 70vh;



    color: var(--text-color);
    margin-bottom: 50px;
}