.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--main-color);

    .content-wraper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .heading {
            text-decoration: none;
            font-size: 4em;
            font-family: 'Satisfy', cursive;
            color: var(--secondary-text-color);
            text-shadow: var(--small-shadow);
            cursor: pointer;
            transition: 100ms ease-in-out;

            &:hover {
                text-shadow: none;
            }
        }
    }
}