.LikeBtn {
    padding: 3px;

    &:hover {
        cursor: pointer;
        color: var(--main-color);
    }

    .like-wraper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        font-size: 1.5em;
        color: var(--disabled-color);

        &.liked {
            color: var(--loved-color);
        }

        .like-counter {
            font-size: 0.7em;
        }
    }


}